{% extends "base_admin.html" %}

{% block content %}
<h2>Service Professional Management</h2>

<h3>Approved Professionals</h3>
<table class="table">
    <thead>
        <tr>
            <!-- <th>ID</th> -->
            <th>Email</th>
            <th>Name</th>
            <th>Service Type</th>
            <th>Location</th>
            <th>Pin Code</th>
            <th>Experience</th>
            <th>Avg Rating</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for sp, avg_rating in approved_sps %}
        <tr>
            <td>{{ sp.email }}</td>
            <td>{{ sp.name }}</td>
            <td>{{ sp.service_type.name }}</td>
            <td>{{ sp.location }}</td>
            <td>{{ sp.pin_code }}</td>
            <td>{{ sp.experience }}</td>
            <td>{{ avg_rating if avg_rating else 'N/A' }}</td>
            <td>
                <form method="POST" action="{{ url_for('admin.service_professional_management') }}">
                    <input type="hidden" name="sp_id" value="{{ sp.id }}">
                    <button name="action" value="block" type="submit" class="btn btn-danger">Block</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Blocked Professionals</h3>
<table class="table">
    <thead>
        <tr>
            <!-- <th>ID</th> -->
            <th>Email</th>
            <th>Name</th>
            <th>Service Type</th>
            <th>Location</th>
            <th>Pin Code</th>
            <th>Experience</th>
            <th>Avg Rating</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for sp, avg_rating in blocked_sps %}
        <tr>
            <td>{{ sp.email }}</td>
            <td>{{ sp.name }}</td>
            <td>{{ sp.service_type.name }}</td>
            <td>{{ sp.location }}</td>
            <td>{{ sp.pin_code }}</td>
            <td>{{ sp.experience }}</td>
            <td>{{ avg_rating if avg_rating else 'N/A' }}</td>
            <td>
                <form method="POST" action="{{ url_for('admin.service_professional_management') }}">
                    <input type="hidden" name="sp_id" value="{{ sp.id }}">
                    <button name="action" value="unblock" type="submit" class="btn btn-success">Unblock</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('admin.home') }}" class="btn btn-secondary mt-4">Back to Dashboard</a>
{% endblock %}